$primary-color: #5e35b1;
$primary-color-light: #9162e4;
$primary-color-dark: #280680;
$title-color: #ffffff;
$text-color: black;
$title-size: 25px;
$text-size: 18px;
$subtitle-color: rgba(0, 0, 0, 0.87);
$subtitle-size: 21px;